.title {
    color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    background-size: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.h1 {
color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: auto;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}
.p1 {
color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.p2 {
color: rgb(205, 92, 92);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
 text-shadow:
  1px 1px 1px yellow,
  2px 2px 1px yellow;
}

.p3 {
color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.p4 {
color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.p5 {
    background-color: rgb(240, 230, 140);
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.ordersKanns {
color: rgb(240, 230, 140);
    background-color: rgb(30, 31, 34);
    font-size: 35px;
    text-align: left;
    margin-top: 1em;
    padding: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.a {
    color: #0075B2; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
   }
   a:visited {
    color: #8F8E8E; /* Цвет посещённой ссылки */
   }
   a:hover {
    text-decoration: none; /* Убираем подчёркивание */
    color: #FFFAC0; /* Цвет ссылки */
    background: #AB4A9C; /* Цвет фона */
   }

label {
font-size: 25px;
width: 300px; /* Ширина поля */

   }
}

button {
  padding: 30px 0;

  display: block;
  width: 350px;
  margin: 25px auto 0;
  background: yellow;
  color: black;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1em 1em; /* Поля по вертикали и горизонтали */
    color: white; /* Цвет текста */
    font-family: monospace; /* Моноширинный шрифт */
    font-size: 0.5em; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    text-transform: uppercase; /* Все буквы заглавные */
    background-color: #67ada9; /* Цвет фона кнопки */
    border-width: 0; /* Убираем рамку */
    border-bottom: 4px solid #547b80; /* Линия снизу */
    border-radius: 0.4em; /* Радиус скругления */
  }
  button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
   }
}



* {
   box-sizing: border-box;
}
.railway {
   max-width: 350px;
   margin: 50px auto 0;
   padding: 20px;
   background: #FAAB1B;
   font-family: 'Oswald', sans-serif;
}
.stripes-block {
   position: relative;
   padding: 10px 10px 15px;
   margin-bottom: 20px;
   background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
}
.stripes-block:before {
   content: "";
   position: absolute;
   left: 50%;
   top: 12px;
   margin-left: -6px;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background: #fffffe;
   box-shadow: 0 0 0 2px #291810, 0 0 0 12px #9c8778;
}
.line {
   width: 60%;
   margin: 0 auto;
   height: 15px;
   border: 2px solid #603624;
   border-radius: 3px;
   background: repeating-linear-gradient(90deg, #FAAB1B, #FAAB1B 3px, #603624 3px, #603624 6px);
}
.railway h3 {
   padding: 7px;
   margin-bottom: 20px;
   text-align: center;
   line-height: 1;
   text-transform: uppercase;
   color: #FAAB1B;
   background: #291810;
}
.form-group {
   margin-bottom: 20px;
   padding: 10px;
   background: #291810;
}
.form-group input, .form-group label, .form-group textarea {
   display: block;
   width: 100%;
}
.form-group input {
   padding: 0;
   line-height: 30px;
   background: #FAAB1B;
   border-width: 0;
}
.form-group label {
   margin-bottom: 5px;
   color: #FAAB1B;
   text-transform: uppercase;
   font-size: 12px;
}
.submit-block {
   padding: 10px 20px 20px;
   background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
   text-align: center;
   cursor: pointer;
}
.submit-button {
   display: inline-block;
   padding: 5px 10px;
   background: #FAAB1B;
}
.submit-button input {
   padding: 0;
   background: #FAAB1B;
   border-width: 0;
   text-transform: uppercase;
   cursor: pointer;
}







* {
   box-sizing: border-box;
}
body {
   background: #F5E9D9;
}
.postcard {
   max-width: 350px;
   margin: 50px auto 0;
   padding: 20px;
   background: #fffdee;
   border: 10px solid transparent;
   border-image: 10 repeating-linear-gradient(135deg, #C42061, #C42061 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px, transparent 30px, transparent 40px);
   font-family: 'Playfair Display';
   color: #605756;
}
.form-row {
   margin-bottom: 15px;
}
.form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
   width: 100%;
   padding: 0 10px;
   line-height: 35px;
   border-width: 0;
   outline: none;
   background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
   background-size: 8px 35px;
   font-family: 'Playfair Display';
}
.form-row textarea {
   background-attachment: local;
   background-repeat: repeat;
   resize: none;
}
.form-row input[type="submit"] {
   padding: 10px 20px;
   margin-top: 10px;
   background: #F67CA5;
   border-width: 0;
   cursor: pointer;
   outline: none;
   font-family: 'Playfair Display';
   font-size: 13px;
   letter-spacing: 1px;
   color: #fffdee;
   text-transform: uppercase;
   transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.form-row input[type=submit]:hover {
   background: #C42061;
}



.table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 20px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse;
	outline: 20px solid #faab1b;  цвет границы
	font-size: 15px;
	background: #fff!important;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #faab1b;
	border: none;
	text-align: center;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #faab1b;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}




iframe {
  border: 0px solid;
  padding: 25px;
  border-top: 50px;
  width: 100%;
}

